extends ../layouts/base

block content 

h1 Manage   
  nav 
    ul 
      li 
        a(href="/variants") Variants 
      li 
        a(href="/products") Products 
      li 
        a(href="/images") Images 