footer
  h1 E-Commerce Pug Example
  p.lead.text-muted Something short and leading about the collections
  p
    | &copy; 2023
    i.fa.fa-value(aria-hidden='true') &nbsp;
    a(href='#') Main call to action
  p
    i.fa.fa-value(aria-hidden='true') &nbsp;
    a(href='#') Secondary