header
  a.navbar-brand(href="/")
    img.card-picture-img(src="/images/pug.svg", alt="alt", width=64)/
    | Pug Engine
  form.search-input(action="#" method="method")
    label(for="search") 
    input#form-controls(name="search", type="search", placeholder="Search...", autofocus=true)
  nav#navbar.navbar-menu  
    link(class=(title == 'Home') ? 'active' :null)/ 
    a(href="/") Home
    link(class=(title == 'index') ? 'active' :null)/
    a(href="/products") Products 
    link(class=(title == 'index') ? 'active' :null)/
    a(href="/variants") Variants 
    link(class=(title == 'index') ? 'active' :null)/
    a(href="/images") Images 
