html { box-sizing: border-box;}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background: #05161a;
    color: white;
}

a {
    text-decoration: none;
    transition: color .2s ease-in-out;
}
a:hover {
    text-decoration: underline;
    color: lime;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    height:56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin: 0 56px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 56px;
}
nav {
    display: flex;
    align-items: center;
    height: 64px;
}

navbar-left {
    display: flex;
    align-items: center;
}

ul a {
    margin: 0 1rem;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    display: flex;
}

.card-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.card {
    border-radius: 6px;
    background-color: rgb(255, 255, 252);
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.2);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 0 0 2.5em 0;
    padding: 16px;
    color: black;
    transition: 0.3s;
}

.card img {
    aspect-ratio: 1/1;
}

.card:hover{
    box-shadow: 0 4px 28px 0 rgba(255,255,255, 0.425);

}

.card-header {
    margin: 0;
    flex: 1 0 140px;
}

.card-picture img {
    max-width: 100%;
    flex: 1 0 140px;
}

.btn-card {
    flex: 1 0 200px;
}