html, body { box-sizing: border-box; height: 100%; padding: 0;margin: 0;}

*, *::before ,*::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
}

:root {

}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background: #05161a;
    color: white;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: greenyellow
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 56px;
    margin-bottom: 3em;
}

nav .container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 56px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
main {
    min-height: 100%;
}
ul a {
    margin: 0 1rem;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    display: flex;
    margin: .6rem 0;
}

form {
    max-width: 350px;
    font-size: 1.2rem;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: .3rem;
}

.form-group input, textarea{
    height: auto;
    margin-top: .3rem;
    width: 60%;
}

.card-container {
    display:grid;
    grid-template: repeat(auto-fill,minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    border-radius: 6px;
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.2);
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    text-align: center;
    margin: 1.5rem 0 2.5em 0;
    color: black;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 4px 28px 0 rgba(255,255,255, 0.2);
    
}

.card-header {
    flex: 1 0 140px;
    padding: 16px;
}

.card-picture img {
    object-fit: cover;
    width: 100%;
    height:100%;
    /* max-width: 100%;
    flex: 1 0 140px; */
}

.btn-card {
    flex: 1 0 200px;
} 

@media screen and (max-width: 550px) {
    
}