extends ../../layouts/base.pug
include ../../mixins/dialog.pug
block content
  main.main
    h1= title 
      p Welcome to #{title} 
      +dialog
    h1 All images 
    ul 
      li: a(href="/images/new") Add New Image
      li: a(href="/images/") Delete
  //- div.card-container
  //-   each image in images 
  //-    .card 
  //-      .card-header 
  //-         .card-picture 
  //-           .card-picture-overlay &nbsp;
  //-           img.card-picture-img(src=image.img, alt="alt", width='')  
  //-         h3(class='card-header')= image.title
  //-         h4= '$' + image.price
  //-         |
  //-         p= image.description 
  //-         |
  //-         button.btn.btn-primary.btn-card(type='button')
  //-           a(href='/images/'+ image.id) Show
  //-         button.btn.btn-primary.btn-card(type='button')
  //-           a(href=`/images/${image.id}/delete`) Delete




