extends ../../layouts/base.pug

block content
  if product
    h2 About #{product.title}
    li: a(href="/products/" + product.id+"/edit") Edit Product
    li: a(href="/products/" + product.id + "/delete") Delete Product
    h3= `ID: ${product.id}`
    h3= `Name: ${product.title}` 
    p= product.description
    a(href="/products/new") Create New Product
  else 
    h3 No variable 'product''Product Title'